<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">	
	<head>		
		<title>Mingle.pl - new places to love in Kraków</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script> 
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>		
		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  		<link rel="stylesheet" type="text/css" href="/site_media/main.css"/>
  		<script type="text/javascript" src="/site_media/jquery.tokeninput.js"></script>
		<link rel="stylesheet" type="text/css" href="/site_media/token-input.css" />
		<link rel="stylesheet" type="text/css" href="/site_media/token-input-facebook.css" />
		<script type="text/javascript" src="https://raw.github.com/zachstronaut/jquery-animate-css-rotate-scale/master/jquery-animate-css-rotate-scale.js"></script>
		<script type="text/javascript" src="https://raw.github.com/zachstronaut/jquery-css-transform/master/jquery-css-transform.js"></script>
		
		<script type="text/javascript">
  			var _gaq = _gaq || [];
  			_gaq.push(['_setAccount', 'UA-20977404-2']);
  			_gaq.push(['_setDomainName', '.mingle.pl']);
  			_gaq.push(['_trackPageview']);
			(function() {
    			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  			})();
		</script>
		
		<script type="text/javascript">
			var csrf_token = '{{ csrf_token }}';
		
			$(document).ready(function () {
								
			    $("#pubs_input").tokenInput("/pub_autocomplete", {
			    	theme: "facebook",
			    	preventDuplicates: true,
			    	onAdd: function (item) {
						$.ajax({
							type: "POST",
							url: 'pub_selected',
							data: {
								pub: item,
								csrfmiddlewaretoken: csrf_token
							},
							success: function(data){
							}
						});
			    	}
			    });
			    
			   	$("#recommend_submit").click(function(){
					$("#pubs_form").submit();
					return false;
				});
			    
			    $("#pubs_form").submit(function(){
					var recommendList = $("#recommendList");
					$(".content").animate({
									top: '+=535px',
									rotate: '-=5deg'									
								}, 500, 'easeInCubic');
					
					$.ajax({
						type: "POST",
						url: "pub_recommend",
						data: {
							pubs: $("#pubs_form").serializeArray()[0]['value'],
							csrfmiddlewaretoken: csrf_token
						},
						success: function(data){
							recommendList.empty();
							var data = eval('(' + data + ')');
							for(var i = 0; i < data.length; i++)
							{	
								var pub = $('<li></li>');
								var name = $('<span class="place-name"></span>').text(data[i]);
								var location = $('<a class="location" target="_blank" href="http://maps.google.pl/maps?hl=pl&q='+data[i]+'+kraków">zobacz na mapie</a>')
								
								name.appendTo(pub);
								location.appendTo(pub);
								pub.appendTo(recommendList);
								$('.results').fadeIn(2000,'easeInCubic');
								
							}				
						}
					});
					return false;
				});
				
				$("#next").click(function(){
					$("ul.recommended-places").animate({
						marginLeft: "-=360px"
					}, 500, 'easeInCubic');
					return false;
				});
			});
			
		</script>
	</head>
	<body>

		<div class="container">
			
			<div class="header">
				<div class="links">
				{% if user_name %}
        			{{user_name }} <a href="/logout/">wyloguj</a>
				{% else %}
					<a href="/facebook">zaloguj</a>
        		{% endif %}
				</div>
			</div>
			
			<div class="content">
				{% block main_content %}
				
				<h1 class="logo"><img src="/site_media/logo.png" alt="mingle. new places to love" /></h1>
				<h2 class="hint"><img src="/site_media/hint.png" alt="Wpisz miejsca do których chodzisz. Podpowiemy Ci nowe ulubione." /></h2>
				
				<form id="pubs_form" class="pubs" action="/pub_recommend" method="post">
					<input type="text" id="pubs_input" name="pubs" placeholder="Wpisz jedno lub kilka miejsce, do których lubisz chodzić." />
					<a id="recommend_submit" href="#" class="primary" rel="pubs_form">
					</a>	
				</form>
				
					
				 			 
				
				
				{% endblock %}							
			</div>
			<div class="results">
				<h2 class="copy"><img src="/site_media/results-copy.png" alt="twoje nowe ulubione miejsce" /></h2>
				
				<div class="circle">
					<ul class="recommended-places" id="recommendList">					
					</ul>
				</div>
				<a id="next" href="#"><img src="/site_media/next.png" alt="Dawaj następną" /></a>

			</div>
														
			<div class="footer">
				
			</div>
		</div>           	
	</body>
</html>
