/* reset.css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* remember to define focus styles! */:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

ol, ul {
    list-style: none;
}

/* end of reset.css */

body {
	font-family: Arial;
	background: #a4fbee;
}

.container {
}

.header {
	background: #06666c;
	height: 25px;
	border-bottom: 1px solid #45a2a0;
	margin-bottom: 25px;
	z-index: 10;
}

.links {
	height: 100%;
	width: 495px;
	margin: 0 auto;
	padding: 7px;
	text-align: right;
	font-size: 12px;
	color: #fff; 
}

.links a {
	color: #fff;
	text-decoration: none;
}


.content {
	width: 495px;
	margin: auto auto;
	position: relative;
	z-index: 1;
}

.logo {
	margin-bottom: 50px;
}

.hint {
	margin-bottom: 20px;
}

.current-city {
	top: 140px;
	left: 320px;
	position: absolute;
	background-color:#06666c;
	margin: auto;
	display: block;
	width: 120px;
	height: 75px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	text-align: center;
	color: white;
	font-size: 20pt;
	padding-top: 45px;
}

.copy {
	
}

.primary {
	display: block;
	background: url(/site_media/szukaj.png) no-repeat 10px 10px;
	width: 118px;
	height: 42px;
	padding: 10px;
	margin: 20px auto;
}

.placeholder
{
  color: #aaa;
}

.results {
	overflow:hidden;
	position: absolute;
	top: 25px;
	width: 100%;
	display: none;
}

.results h2 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 40px;
}

#next, #again {
	display: block;
	width: 250px;
	margin:auto;
}

#next img {
	padding: 20px;
}

#again img {
	padding: 0 20px;
}

.circle {
	margin: auto;
	display: block;
	width: 360px;
	height: 360px;
	-moz-border-radius: 180px;
	-webkit-border-radius: 180px;
	overflow: hidden;
}

.recommended-places {
	width: 1800px;
	height: 360px;
}

.recommended-places li {
	float: left;
	display: block;
	width: 360px;
	height: 360px;
	background-color: #06666c;
}

.recommended-places li span.place-name {
	color: #fff;
	display: block;
	width: 300px;
	padding: 0 30px;
	text-align: center;
	font-size: 36px;
	font-weight: bolder;
	margin: 30% auto 0 auto;
}

.recommended-places li .location {
	font-size: 12px;
	display: block;
	color: #a4fbee;
	width: 300px;
	padding: 10px;
	text-align: center;
	margin: 50px auto;
}

.location::before  {
	content: url("/site_media/marker.png");
	margin-right: 8px;
	top: 2px;
	position:relative;
}

a {
	text-decoration: none;
}





