/* reset.css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* remember to define focus styles! */:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

ol, ul {
    list-style: none;
}

/* end of reset.css */

body {
	font-family: Arial,Helvetica,Helvetica Neue,Verdana,sans-serif;
}

.right {
	float: right;
}

.container {
	margin: 0 auto;
	width: 960px;
}

h1 {
	font-size: 28pt;
  line-height: 1.2;
  margin-bottom: 10px;
}

.more {
	clear: both;
	float: left;
	display: none;
}

.primary {
	padding: 4px 20px;
}


p {
	margin-bottom: 1em;
}

input {
		font-size: 1.2em;
    line-height: 1.5;
    padding: 0.2em 0.4em;
    font-size: inherit;
}

input.placename {
		clear: both;
		float: left;
    display: block;
    padding: 0.4em 0.4em;
    margin-right: 10px;
    width: 350px;
		margin-bottom: 10px;
}